
Implementation/Word_Embedding/em-glove.6B.300d-20epoch.txt
Implementation/Word_Embedding/glove.twitter.27B.50d.txt
Implementation/Word_Embedding/glove.twitter.27B.50d.txt
Implementation/Word_Embedding/em-w2v-out-wiki-20epoch.txt
Implementation/Word_Embedding/GoogleNews-vectors-negative300.bin
Implementation/Word_Embedding/GoogleNews-vectors-negative300.txt
